@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #D8D8D8;
}

figure {
	position: relative;
	/*7左浮动实现行级元素和块级元素的切换*/
	float: left;
	width: 33.33%;
	height: 350px;
	/*显示多出的部分让其隐藏*/
	overflow: hidden;
}

figure:hover img {
	opacity: 0.5;
	transition: all 2s;
}


/*------------------------view1------------------------*/

.view1:hover img {
	transform: translate(40px);
}

.view1:hover {
	transform: translate(80px);
	transition: all 2s;
}

.view1 h2 {
	position: absolute;
	left: 40px;
	top: 10%;
	color: white;
}

.p1 {
	position: absolute;
	left: 100px;
	bottom: 200px;
	color: black;
	width: auto;
	background: gray;
	transform: translateY(400px);
	transition: all 2s;
}

.view1:hover .p1 {
	transform: translateY(0px);
	transition: all 2s;
}

.p2 {
	position: absolute;
	left: 100px;
	bottom: 150px;
	color: black;
	width: auto;
	background: gray;
	transform: translateX(500px);
	transition: all 2s;
}

.view1:hover .p2 {
	transform: translateY(0px);
	transition: all 2s;
}

.p3 {
	position: absolute;
	left: 100px;
	bottom: 100px;
	color: black;
	width: auto;
	background: gray;
	transform: translateY(-300px);
	transition: all 2s;
}

.view1:hover .p3 {
	transform: translateY(0px);
	transition: all 2s;
}


/*------------------------view2------------------------*/

.view2:hover img {
	transform: translate(40px);
}

.view2:hover {
	transform: translate(80px);
	transition: all 2s;
}

.view2 h2 {
	position: absolute;
	left: 40px;
	top: 10%;
	color: white;
}

.p4 {
	position: absolute;
	left: 100px;
	bottom: 200px;
	color: black;
	width: auto;
	background: ghostwhite;
	transform: translateY(-400px);
	transition: all 2s;
}

.view2:hover .p4 {
	transform: translateY(0px);
	transition: all 2s;
}

.p5 {
	position: absolute;
	left: 100px;
	bottom: 175px;
	color: black;
	width: auto;
	background: ghostwhite;
	transform: translateX(-500px);
	transition: all 2s;
}

.view2:hover .p5 {
	transform: translateY(0px);
	transition: all 2s;
}

.p6 {
	position: absolute;
	left: 100px;
	bottom: 150px;
	color: black;
	width: auto;
	background: ghostwhite;
	transform: translateY(300px);
	transition: all 2s;
}

.view2:hover .p6 {
	transform: translate(0px);
	transition: all 2s;
}


/*------------------------view3------------------------*/

.view3 h2 {
	position: absolute;
	left: 150px;
	top: 30px;
	width: 70%;
	opacity: 0;
	transition: all 2s;
}

.view3:hover h2 {
	transform: translateY(30px);
	/*透明度*/
	opacity: 1;
}

.view3 p {
	position: absolute;
	right: 10%;
	bottom: 0%;
	width: 70%;
	opacity: 0;
	transition: all 2s;
}

.view3:hover p {
	transform: translateY(-70px);
	/*透明度*/
	opacity: 1;
}


/*------------------------view4------------------------*/


/*#id选择器*/

#box4 {
	width: 150%;
	height: 300px;
	position: absolute;
	left: 0px;
	bottom: -300px;
	background: blanchedalmond;
	transition: all 2s;
}

.view4:hover #box4 {
	/*origin固定点旋转
	 第一个参数指定X轴方向
	 第二个参数指定Y轴方向
	 */
	transform-origin: 10% 0%;
	transform: rotate(-15deg);
}


/*------------------------view5------------------------*/

#box5 {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border: 2px solid #808080;
	transform: translateY(-400px) rotate(0deg);
	transition: all 2s;
}

.view5:hover #box5 {
	transform: translateY(0px) rotate(180deg);
}

.view5 p {
	position: absolute;
	right: 12%;
	bottom: 10%;
	width: 70%;
	opacity: 0;
	transition: all 2s;
}

.view5:hover p {
	transform: translateY(-30px);
	/*透明度*/
	opacity: 1;
}

.view5 h2 {
	position: absolute;
	left: 150px;
	top: 30px;
	width: 70%;
	opacity: 0;
	transition: all 2s;
}

.view5:hover h2 {
	transform: translateY(30px);
	/*透明度*/
	opacity: 1;
}


/*------------------------view6------------------------*/

.view6:hover img {
	transform: scale(1.5);
}

.view6:hover .p7 {
	opacity: 1;
	transform: translate(0px);
	transition: all 3s;
}

.p7 {
	position: absolute;
	left: 85px;
	bottom: 150px;
	color: black;
	width: auto;
	opacity: 0;
	transform: scale(1.5);
	transition: all 2s;
}


/*------------------------view8------------------------*/

.view7:hover img {
	transform: scale(0.75);
}

.view7:hover .p8 {
	transform: translate(0px);
	opacity: 1;
	transition: all 3s;
}

.p8 {
	position: absolute;
	left: 100px;
	bottom: 150px;
	color: black;
	width: auto;
	opacity: 0;
	transform: scale(0.5);
	transition: all 2s;
}


/*------------------------view8------------------------*/

#box8 {
	position: absolute;
	width: 0%;
	height: 60%;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	left: 10%;
	top: 20%;
	transition: all 2s;
}

.view8:hover #box8 {
	width: 80%;
}

#box9 {
	position: absolute;
	width: 60%;
	height: 0%;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
	left: 20%;
	top: 10%;
	transition: all 2s;
}

.view8:hover #box9 {
	height: 80%;
}

.view8:hover h2 {
	position: absolute;
	left: 140px;
	top: 20%;
	color: white;
	transform-origin: 50% 50%;
	transform: rotate(360deg);
	transition: all 1.8s;
}

#musicBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: 40px;
	/*指定一个动画 2s 图片旋转一圈  infinite：死循环*/
	animation: musicBtnRotate 2s infinite;
}

@keyframes musicBtnRotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}